<!doctype html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<!-- librerías, plugins, main.css -->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<div class="container">
		<header class="header-page">
			<h1>Título de la página</h1>
		</header>
		
		<nav class="nav-page">
			<!--ul>(li>a{item $})*4-->
			<ul>
				<li><a href="#">item 1</a></li>
				<li><a href="#">item 2</a></li>
				<li><a href="#">item 3</a></li>
				<li><a href="#">item 4</a></li>
			</ul>
		</nav>
		
		<main class="main-page">
			<!--(section.section-page>h2{Sección $}+p>lorem50)*4-->
			<section class="section-page">
				<h2>Sección 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque ducimus suscipit a numquam ut ipsa sunt optio sed laudantium nisi aliquid esse, dolore illo delectus cum earum dicta architecto culpa ullam. Fuga, quibusdam a sapiente sed, aliquam consequuntur nulla odio enim atque ab labore ex rem quo dicta doloribus.</p>
			</section>
			
			<section class="section-page">
				<h2>Sección 2</h2>
				<p>Pariatur quia fugiat dolore quam nam quaerat, omnis nemo illum labore, debitis, iste. Accusantium illo veritatis laudantium corporis repellendus, nostrum sit non ipsa reiciendis voluptas, illum, mollitia, odit magnam unde cupiditate porro odio facere deleniti? Voluptate tempore reiciendis, amet nemo eos fugiat sunt sint eum, facere accusamus voluptates dolore excepturi.</p>
			</section>
			
			<section class="section-page">
				<h2>Sección 3</h2>
				<p>Eligendi non, beatae at consequuntur fugit aut aspernatur, pariatur repellat assumenda omnis quos rem consectetur vitae reiciendis voluptas dicta quis aperiam amet expedita excepturi deserunt, quibusdam quod labore. Dolorem repudiandae excepturi culpa autem voluptas esse tempora delectus officiis architecto mollitia! Maxime, perspiciatis expedita beatae ex similique magni illum quam quaerat!</p>
			</section>
			
			<section class="section-page">
				<h2>Sección 4</h2>
				<p>Harum cupiditate repellendus placeat eligendi accusantium, animi pariatur deserunt mollitia facere veniam aut voluptate officia dignissimos esse quos accusamus iste perspiciatis doloribus rerum commodi autem exercitationem beatae fugiat! Beatae, ea necessitatibus asperiores. Autem sed eaque error quia ut magni eligendi, earum quam? Ratione debitis corrupti, ea quia ut architecto iste?</p>
			</section>
			
		</main>
		
		<footer class="footer-page">
			<p>Todos los derechos reservados | Alexandra Anaya Luna | Edumac 2017</p>
		</footer>
	</div>
	
	<!-- Antes del final de body van js para que se cargue rápido -->
	<div id="js">
		<script src="js/lib/jquery-3.2.1.min.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>
